body {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-style: 16px;
}
.wrap {
  width: 7.5rem;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  background-image: url('../images/login-bgc.png');
}
header .top a {
  float: left;
  font-size: 0.5rem;
  color: #d4f7f3;
  font-weight: lighter;
  margin-top: 0.5rem;
  margin-left: 0.54rem;
}
header .top span {
  float: right;
  font-size: 0.3rem;
  margin-top: 0.7rem;
  color: #b5e9e7;
  margin-right: 0.48rem;
}
header .log {
  margin-top: 1rem;
  width: 7.5rem;
}
header .log img {
  display: block;
  width: 1.5rem;
  margin: 0 auto;
}
.main form {
  width: 4.34rem;
  margin: 0 auto;
  margin-top: 1.1rem;
}
.main form > div:nth-child(1) {
  margin-bottom: 0.55rem;
  position: relative;
}
.main form > div:nth-child(1) p {
  font-size: 0.12rem;
  margin-left: 0.55rem;
  position: absolute;
}
.main form > div:nth-child(2) {
  position: absolute;
}
.main form > div:nth-child(2) p {
  font-size: 0.12rem;
  margin-left: 0.55rem;
}
.main form > div span {
  display: block;
  float: left;
  color: #fff;
  font-size: 0.3rem;
}
.main form > div input {
  width: 3.5rem;
  display: block;
  float: left;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid #ace9ea;
  margin-left: 0.3rem;
}
.main form > div input::placeholder {
  font-size: 0.3rem;
  color: #e4f6f6;
}
.main form > div input:nth-child(4) {
  margin-left: 0.3rem;
}
.main div:nth-child(2) div {
  margin: 0 auto;
  margin-top: 1.7rem;
  width: 4.2rem;
  border-radius: 60px;
  border: 1px solid #fff;
  line-height: 0.7rem;
}
.main div:nth-child(2) .denglu {
  text-align: center;
  display: block;
  font-size: 0.4rem;
  color: #fdfffe;
  margin: 0 auto;
  width: 4.15rem;
  line-height: 0.7rem;
  border-radius: 60px;
  background-color: #80d9e1;
}
.main div:nth-child(2) .zhuce {
  width: 2rem;
  display: block;
  margin: 0.8rem auto;
  margin-left: 3.2rem;
  font-size: 0.3rem;
  color: #aedfdb;
}
.main div:nth-child(3) {
  margin: 0 auto;
  margin-top: 1.3rem;
  text-align: center;
}
.main div:nth-child(3) img {
  width: 1.2rem;
  height: 0.95rem;
}
footer {
  margin-top: 0.5rem;
  text-align: center;
}
footer span {
  font-size: 0.24rem;
  color: #b6e7ec;
}
footer span > span {
  color: #feffff;
  margin-left: 0.3rem;
}
